Source: ros-indigo-ackermann-vehicle
Section: misc
Priority: extra
Maintainer: Jim Rothrock <jim.rothrock@wunderkammerlab.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/ackermann_vehicle
Standards-Version: 3.9.2

Package: ros-indigo-ackermann-vehicle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-ackermann-vehicle-description, ros-indigo-ackermann-vehicle-gazebo
Description: ackermann_vehicle is a group of packages for simulating a vehicle with Ackermann steering.
